[user]
	name = Josh Surber
	email = josh@surber.us
[alias]
	co = checkout
	br = branch
	ci = commit
	st = status
	unstage = reset HEAD --
	last = log -1 HEAD
[push]
	default = simple
    autoSetupRemote = true
[pull]
	rebase = false
[init]
	defaultBranch = main
