!.*
*
!.**/*
.*~
.*swp
.bash_history
.crosh_history
.vim/.netrwhist
.vim/doc
.viminfo
.cache/
.gem/
.pki/
.ssh/
.wget-hsts
.Private
.Xauthority
.bashrc
.bashrc2
.cinnamon/
.config/
.ecryptfs
.face
.gnome/
.gtkrc-2.0
.gtkrc-xfce
.linuxmint/
.local/
.mozilla/
.sudo_as_admin_successful
.xinputrc
.xsession-errors
