vim/
!vim/.vim/coc-settings.json
!vim/.vim/vimrc
!vim/.vim/snippets.json

nvim/.config/nvim/Session.vim
nvim/.config/nvim/plugin/

kitty/.config/kitty/kitty.conf.bak
qterminal/.config/qterminal.org/qterminal_bookmarks.xml
qutebrowser/.config/qutebrowser/qsettings/QtProject.conf
mutt/.config/mutt/colors.default
mutt/.config/mutt/dracula.muttrc
vifm/.config/vifm/scripts/
vifm/.config/vifm/vifm-help.txt
vifm/.config/vifm/vifminfo.json
dmscripts/.config/dmscripts/global
